@import "leaflet/dist/leaflet.css";

.relative{
  width: 100%;
  height: 100%;
}
.mapContainer{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(255, 187, 187);
}
#map {
  width: 100vw;
  height: 100vh;
}
.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.custom-popup .leaflet-popup-content-wrapper {
  background-color: rgb(231, 147, 147); 
  color: white;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 320px;
  width: auto;
  height: auto;
  max-height: 250px;
  overflow: hidden;
}

.custom-popup .leaflet-popup-content {
  margin: 8px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: auto !important;
}

.custom-popup .leaflet-popup-tip {
  background-color: rgb(231, 147, 147);
}

.custom-popup h3 {
  margin-top: 0;
}

.custom-popup a {
  color: white;
  font-weight: 500;
}

/* Ensure the popup close button is visible */
.custom-popup .leaflet-popup-close-button {
  color: white;
  opacity: 0.8;
}

.custom-popup .leaflet-popup-close-button:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  .refresh-btn-desktop {
    display: none !important;
  }
}